.center {
    display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#main {
    background: #fee1e3;
    width: 100%;
    height:auto;
    filter: alpha(opacity:60);
    opacity: 1;
    -moz-opacity: 0.6;
    padding-bottom: 200px;
}

.navbar{
    margin-bottom: 0px;
}

.navbar-default {
    background-color: #ff6382;
    border-color: #ff6382;
}

.navbar-default .btn-link {
    color: #ffffff;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-btn {
    margin-top: 35px;
    margin-bottom: 0px;
}

.navbar-text {
    margin-top: 0px;
    margin-bottom: 15px;
}

#myCarousel{
    width: 900px;
    height: 400px;
    margin: 50px auto;
}
.carousel-caption{
    font-size: 200%;
    color: lightpink;
}

#backColor{
    background: #ffffff;
    height: 400px;
    width: 400px;
}

#navColor{
    background: #ffffff;
    height: 70px;
    width:100%;
}

#logTop{
    margin-top: 120px;
}
#Loglist{
    width:370px;
    height:50px;
    border-bottom:3px solid #ff6382;
}
.logA{
    display: block;
    float: left;
    width:60px;
    height:50px;
    margin-top:10px;
    text-align: center;
    line-height:60px;
    font-size:18px;
    text-align: center;
    margin-left:80px;
    text-decoration:none;
}
#userExist,#samePassword{
    color:red;
    padding-left:10px;
}
.logA:hover{
    border-bottom:3px solid #ff6382;
}

.sex{
    color:rgba(0,0,0,0.5);
    font-size:16px;
}
.text{
    margin-bottom: 25px;
}
.logbtn,.signbtn{
    width:278px;
    height: 40px;
    background:#ff6382;

}
.logbtn{
    margin:20px 0px 0px 62px;
}
.signbtn{
    margin:6px 0px 0px 62px;
}
.iii{
    color:red;
}

.textColor {
    color: rgba(0, 0, 0, 0.5);
}
#diary-show-font{
    font-size:25px;
    font-weight: bold;
    border-style: inset;
}
#diary-show-border{
    height: 500px;
    width: 900px;
    margin-top: 30px;
}
#diary-show-table{
    width: 900px;
}
.leftDate{
    list-style:none;
}
.jjj{
    width:100px;
    background-color:rgba(0,0,0,0.1);
    margin:50px 0px 0px 50px;
    border:2px solid rgba(255,67,45,0.4);
}

.jjj div li{
    font-size:16px;
    color:#2F6FAD;
    text-align: center;
    padding-bottom:10px;
}
.jjj div div li p{
    font-size:16px;
    color:#2F6FAD;
    text-align: center;
}

.listLi{
    border: 0px;
    background-color: #fee1e3;
    padding: 0px 15px;
}

.pcolor{
    color: #000000;
}

.titleColor{
    color: #000000;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;
}

.timeColor{
    color: #888888;
    padding-left: 10px;
}

.contentColor{
    color: #000000;
    font-size: 17px;
    padding-left: 10px;
}

.processBackground{
    background-color: #ffffff;
    height: auto;
    margin-bottom: 30px;
}

.topProcess{
    margin-top: 50px;
}

.heartColor{
    color: #ff0000;
    margin-left: 10px;
}

.hrHeight {
    margin-top: 0px;
    margin-bottom: 10px;
}

.likeColor{
    color: #888888;
    padding-left: 0px;
}

.threeInline{
    display: inline;
}

.babyParent {
    padding-bottom: 10px;
}

.starColor{
    color: #fff000;
}
.leftFixed{
    width: 20%;
    left:50px;
    top:150px;
    position: fixed;
    border:2px solid rgba(0,0,0,0.1);
}
.returnFixed{
    position: fixed;
    bottom: 50px;
    right:60px;
}

#kongKong,#ao{
    color: #ffffff;
    font-size: 60px;
}

#ao {
    margin: 50px 0px 50px 450px;
}


#kongKong{
    margin: 50px 0px 0px 850px;
}
.message{
    width:55%;
    height:auto;
    border:2px solid rgba(0,0,0,0.1);
}
#pas{

    margin-top: 180px;
}

.pasPad {
    padding-top: 20px;
    padding-bottom: 10px;
}

.modalPad{
    margin-top: 20px;
    margin-bottom: 30px;
}
.btn-persion{
    width:90px;
}
.inputText{
    margin-top:20px;
    margin-bottom:20px;
}
.nameGra {
    font-size: 19px;
    color: #888888;
}
.passError{
    color:red;
    margin-left:210px;
}
.gra{
    margin-top:20px;
    margin-left:45px;
    margin-bottom: 20px;
}
#person{
    width:100%;
    height:auto;
    margin-top:50px;

}
.sex1{
    display:inline-block;
    padding-left:50px;
}

.radiopad{
    padding-left: 40px;
}

.magButton{
    margin-top: 80px;
}

.fontType{
    font-family: aria;
    font-size: 15px;
    line-height: 19px;
}

.magPerson{
    display:block;
    margin-top:15px;
}

.magBackColor1 {
    margin-bottom: 350px;
    background-color: #fee1e3;
}