.center{
    display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#main {
    background: #fee1e3;
    width: auto;
    height: 1000px;
    filter: alpha(opacity:60);
    opacity: 1;
    -moz-opacity: 0.6;
}

.navbar{
    margin-bottom: 0px;
}

.navbar-default {
    background-color: #ff6382;
    border-color: #ff6382;
}

.navbar-default .btn-link {
    color: #ffffff;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-btn {
    margin-top: 35px;
    margin-bottom: 0px;
}

.navbar-text {
    margin-top: 0px;
    margin-bottom: 15px;
}

#myCarousel{
    width: 900px;
    height: 400px;
    margin: 50px auto;
}