.center{
    display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#main {
    background: #fee1e3;
    width: 100%;
    height: 750px;
    filter: alpha(opacity:60);
    opacity: 1;
    -moz-opacity: 0.6;
}

.navbar{
    margin-bottom: 0px;
}

.navbar-default {
    background-color: #ff6382;
    border-color: #ff6382;
}

.navbar-default .btn-link {
    color: #ffffff;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-btn {
    margin-top: 35px;
    margin-bottom: 0px;
}

.navbar-text {
    margin-top: 0px;
    margin-bottom: 15px;
}

#myCarousel{
    width: 900px;
    height: 400px;
    margin: 50px auto;
}
.carousel-caption{
    font-size: 200%;
    color: lightpink;
}

#backColor{
    background: #ffffff;
    height: 400px;
    width: 400px;
}

#navColor{
    background: #ffffff;
    height: 70px;
    width:100%;
}

#logTop{
    margin-top: 120px;
}
#Loglist{
    width:370px;
    height:50px;
    border-bottom:3px solid #ff6382;
}
.logA{
    display: block;
    float: left;
    width:60px;
    height:50px;
    text-align: center;
    line-height:60px;
    font-size:18px;
    text-align: center;
    margin-left:80px;
    text-decoration:none;
}
.logA:visited{
    color:#000000;
}
.logA:hover{
    border-bottom:3px solid #ff6382;
}
.logA:active{
    color:#ff6382;
}
.text{
    margin-bottom: 25px;
}
.logbtn{
    width:278px;
    height: 40px;
    background:#ff6382;
    margin:20px 0px 0px 62px;
}
.iii{
    color:red;
}

.textColor {
    color: rgba(0, 0, 0, 0.5);
}